@import "tailwindcss";

:root {
  --background: rgb(10, 10, 10);
  --foreground: rgb(240, 240, 240);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  --font-handwriting: var(--font-great-vibes);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.stroke-text {
  -webkit-text-stroke: 1px white;
}

.group:hover .stroke-text {
  -webkit-text-stroke: 0px;
}